/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container750 {
    max-width: 750px;
    margin: 0 auto;
}

.container600 {
    max-width: 600px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.button-link{
    font-family: 'PT Mono', monospace;
    display: block;
    width: fit-content;
    padding: 7px 30px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
}

.width100{
    width: 100%;
}

.margin1rem{
    margin: 1rem 0;
}

.card p{
    color: #333;
}

:root{
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --padding: 3rem 0;
    --card-padding: 1.5rem;
}

/* REGOLE HEADER */
header{
    background-color: var(--primary-color);
    height: 50px;
}
#logo-img{
    height: 30px;
}

header div.flex{
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
}

header ul li{
    display: inline-block;
    list-style: none;
    margin: 0 0.5rem;
}

header ul li a{
    text-decoration: none;
    color: white;
}

i.fa-bars{
    display: none;
}

#get-started-button{
    color: #333;
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-family: inherit;
}

/* REGOLE MAIN */

main section{
    padding: var(--padding);
}

/******* PANORAMICA *******/

#panoramica .flex{
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

#panoramica .card{
    background-color: var(--primary-color-light);
    width: calc((100% / 3) - 1.5rem);
    padding: var(--card-padding);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 20px;
    
}

#panoramica .card-flex {
    width: calc(((100% / 3) - 0.75rem) * 2);
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}


#panoramica .card-flex div:first-child{
    padding: var(--card-padding);
}

#panoramica .card-flex div:last-child {
    align-self: flex-end;
}

#panoramica .card-flex div{
    width: 50%;
}

#panoramica .card-flex img{
    display: block;
    height: 220px;
    margin-left: 2rem;
}

#panoramica h3,
#panoramica i:not(.fa-apple){
    color: var(--primary-color);
}

/******* PLANNING *******/

#planning{
    background-color: var(--secondary-color);
}

#planning .flex{
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}

#planning .card{
    width: calc(50% - 1.5rem);
    margin: 0 0.75rem;
    padding: var(--card-padding);
}

#planning .card:first-child{
    padding: 3rem 3rem 0 3rem;
    color: white;
}

#planning .card:first-child h3{
    margin: 4rem 0 1.25rem 0;
}

#planning .card:last-child img{
    width: 70%;
}

#planning .card:last-child{
    background-color: white;
    border-radius: 20px;
}

#arrow{
    width: fit-content;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 5px 10px;
}

/******* TESTIMONIALS *******/

#testimonials .quote{
    background-color: var(--secondary-color);
    color: white;
    margin-bottom: 0.75rem;
}

#testimonials .text-center p:first-of-type{
    text-transform: uppercase;
}

#testimonials h2 {
    color: var(--secondary-color);
    font-size: 2rem;
}

.quote.flex {
    align-items: center;
    border-radius: 30px;
}

.quote.flex div {
    padding: 1rem;
}

.quote.flex img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.quote.flex span{
    text-transform: uppercase;
    font-weight: 900;
}

/* ************BENEFIT************ */

#benefit{
    background-color: var(--secondary-color);
}

#benefit .flex {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

#benefit .card {
    background-color:white;
    width: calc((100% / 3) - 1.5rem);
    padding: var(--card-padding);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 20px;
}

#benefit h2{
    color: white;
}

#benefit span{
    font-size: 3.5rem;
}

#benefit span,
#benefit h3{
    color: var(--secondary-color);
}

.more-button{
    background-color: var(--secondary-color);
}

/************ABOUT-US************/

#about-us .container{
    padding: 0 3rem;
}

#about-us .flex{
    justify-content: center;
}

#about-us .flex .card:first-of-type{
    width: calc(80% - 1.5rem);
}

#about-us .flex .card{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border: 1px dashed black;
}

#get-started{
    background-color: var(--secondary-color);
}

/* REGOLE FOOTER */
footer{
    background-color: #333;
    color: white;
    padding: 2rem 0;
}

/* media query TABLET */

@media screen and (max-width: 992px) {
    .container{
        max-width: 750px;
    }

    header nav {
        display: none;
    }

    i.fa-bars {
        display: block;
    }

    #panoramica .card-flex div {
        width: calc(100% - 1.5rem);
    }

    #planning .card {
        width: calc(100% - 1.5rem);
    }

    #planning .card:first-child {
        padding: var(--card-padding);    
}
    #testimonials .container750 {
        width: calc(750px - 1.5rem);
        margin: 0 0.75rem;
}

    #benefit .card {
        width: calc(50% - 1.5rem);
}
}
/* media query MOBILE */

@media screen and (max-width: 768px) {
    .container {
            max-width: 600px;
        }

    #panoramica .card {
        width: calc(100% - 1.5rem);
    }

    #panoramica .card-flex img{
        margin: 0 auto;
    }

    #panoramica a{
        margin: 0 auto;
    }

    .quote.flex{
        flex-wrap: wrap;
    }

    .quote.flex div {
        width: 100%;
        text-align: center;
    }

    #benefit .card {
        width: calc(100% - 1.5rem);
}