/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.text-center{
    text-align: center;
}

:root{
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --padding: 3rem 0;
}

/* REGOLE HEADER */
header{
    background-color: var(--primary-color);
}

header div.flex{
    justify-content: space-between;
}

header ul li{
    display: inline-block;
    list-style: none;
}

header ul li a{
    text-decoration: none;
}

/* REGOLE MAIN */

#panoramica,
#planning,
#testimonials{
    padding: var(--padding);
}

#panoramica .flex{
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

#panoramica .card{
    background-color: var(--primary-color-light);
    width: calc((100% / 3) - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    border: 1px dashed black;
}

#panoramica .card:first-child{
        width: calc(((100% / 3) - 0.75rem) * 2);
}

#planning{
    background-color: var(--secondary-color);
}

#planning .flex{
    justify-content: space-around;
    align-items: flex-end;
}

#testimonials .quote{
    background-color: var(--secondary-color);
    color: white;
    margin-bottom: 0.75rem;
}

#testimonials .text-center,
#testimonials .text-center > *{
    margin-bottom: 0.75rem;
}


/* media query */

@media screen and () {
    
}